*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


body {
   width: 100vh;
   height: 100vw;
 }


.dashboard {
    display:flex;
}


.sideBar {
    background-color: rgba(83,195,81,1);
    height: 100vh;
    max-width: 40%;
    padding: 20px 20px;
    border-radius: 0 20px 20px 0;
}


.PowerBtn {
    display: flex;
    justify-content: center;
 }

 


.navLinks {
   margin-top: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    gap: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-item img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.dashboardtext {
    background-color: rgba(236, 255, 236, 0.73);
    padding: 10px 12px;
    border-radius: 3.5px;
    color: rgba(11, 117, 9, 1);
}  
 
.customer-support {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    
}

.head {
    font-size: 18px; 
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.customer-support p {
    line-height: 1.3;
    color: white;
    font-size: 15px;
}

.connect {

    width: 128px;
    height: 40px;
    color: rgba(83, 195, 81, 1);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap:20px;
}

.connect img {
    margin-right: 5px;
}

.policy {
 margin-top: 20px;
}

.policy p {
    color: white;
}



       